@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'palette.css';

html {
    overflow-x: hidden;
}

body {
    font-family: 'Century Gothic Regular', 'Poppins', sans-serif;
    /* color: var(--font); */
}

.row {
    @apply flex justify-center items-center;
}

.row-h {
    @apply flex justify-center;
}

.row-v {
    @apply flex items-center;
}

.row-end {
    @apply flex justify-end;
}

.col-v {
    @apply flex justify-center flex-col;
}

.col-h {
    @apply flex items-center flex-col;
}

.inline-h {
    @apply inline-flex justify-center;
}

.pointer {
    @apply cursor-pointer;
}

.bg-main {
    background-color: #332532;
}

.t-main {
    font-family: 'Asap', sans-serif;
}

.u {
    @apply uppercase;
}

.bg-logo {
    background-color: #f75239;
}

.bg-img {
    @apply bg-cover bg-no-repeat bg-center;
}

.text-three-dots-wrapper {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.max-w-fit {
    max-width: fit-content;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.gradient-title {
    background: linear-gradient(169.4deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-title-alt {
    background: linear-gradient(169.4deg, #f13ea2 -6.01%, #8926b3 36.87%, #2f7cf0 78.04%, #d013e2 103.77%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #F7BC01, #D56741);
    width: 10px;
    height: 80px;
    border-radius: 26px;
    border: 1px solid transparent;
    background-clip: padding-box;
}

#navbar-portal-root {
    display: block;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: fit-content;
    height: 100%;
    overflow: auto;
    border-radius: 0.5rem;
    z-index: 2;
}

.navbar-portal-content {
    border: 1px solid #ccc;
    position: fixed;
    border-radius: 0.5rem;
    padding: 10px;
    -webkit-animation: fade-in-from-none 0.6s ease-in-out;
    animation: fade-in-from-none 0.6s ease-in-out;
    z-index: 40;
    background: white;
    color: #4B5563;
}

.expandable {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.content {
    display: none;
}

.expanded {
    position: relative;
}

.quote {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}

.quote::before {
    content: "\201C";
    position: absolute;
    top: -4px;
    left: -10px;
    font-size: 45px;
    color: #f13ea2;
}

.quote::after {
    content: "\201D";
    position: absolute;
    margin-top: 10px;
    bottom: -28px;
    margin-left: 4px;
    font-size: 45px;
    color: #f13ea2;
}

/* Add smooth transition using max-height */
.expandable {
    position: relative;
    overflow: hidden;
    max-height: 60px;
    transition: max-height 1.2s ease-in-out;
}

.expanded {
    max-height: 1000px;
    /* Adjust this value as needed */
}

.expanded::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f13ea2, #3926b3);
}

.expanded .content {
    display: block;
}

.marker {
    width: 3px;
    height: 34px;
    background-color: white;
    position: absolute;
}

.marker-1 {
    top: 141px;
    left: 56px;
    rotate: 125deg;
}

.marker-2 {
    top: -2px;
    left: 249px;
    rotate: 146deg;
}

.marker-3 {
    top: -2px;
    left: 585px;
    rotate: 214deg;
}

.marker-4 {
    top: 141px;
    left: 782px;
    rotate: 235deg;
}

.quote-content {
    font-family: 'Tahoma', sans-serif;
}